/* General Styless */
:root {
    --mainColor: #20c6c6;
    --secColor: #858988;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
   box-sizing: inherit; 
}

body {
    font-family: sans-serif;
    background: #c8cfd7;
}

.wrapper {
    width: 400px;;
    margin: 10px auto;
    border: 1px solid var(--secColor);
    background: #fff;
    text-align:center;
    box-shadow: 2px 2px 10px var(--secColor);
}

/* Header */
header {
    background: url('http://www.cutmypic.com/uploads/title577689882.png') center center no-repeat;
    background-size: cover;
    min-height: 200px;
    color: #fff;
    position: relative;
}

header h1 {
    font-weight: normal;
    padding-top: 50px;
    margin-bottom: 15px;
}

header p {
    font-size: 16px;
    line-height: 1.5;
}

/* nav links */
.nav .nav-link {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav .nav-link li {
    flex: 1;
    padding: 20px;
    border-top: 5px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--secColor);
    cursor: pointer;
}

.nav .nav-link li.active {
    color: var(--mainColor);
    border-top: 5px solid var(--mainColor);
}

/* Registeration Section */
.forms {
    position: relative;
    min-height: 300px;
}

.forms > div {
    position: absolute;
    width: 100%;
}

.forms form {
    text-align: left;
    padding: 20px;
}

.forms form > div {
    position: relative;
}

.forms form input {
    width: 100%;
    padding: 15px 0 15px 35px;
    border: 1px solid #ccc;
    color: var(--secColor);
    margin-bottom: 15px;
}

.forms form > div i {
    position: absolute;
    top: 15px;
    left: 10px;
    color: var(--secColor);
}

.forms form input[type="checkbox"] {
    display: none;
} 

.forms .btn-register {
    background: var(--mainColor);
    margin: 10px 0;
    border: 0;
    border: 1px solid var(--mainColor);
}

/* signup */
.forms .signup {
    display: none;
}

/* Log In */
.forms .login .remember label {
    position: relative;
}

.forms .login .remember label:before{
    content: '';
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: transparent;
    border: 1px solid #b7b0b0;
    top: 5px;
    left: -5px;
}

.forms .login .remember input[type="checkbox"]:checked + label:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: var(--mainColor);
    position: absolute;
    left:-3px;
    top: 0;
}

.forms .login .remember a {
    float: right;
    color: var(--mainColor);
    font-weight: bold;
}

.forms .login .btn-facebook {
    margin: 10px 0;
    border: 0;
    background: #385b95;
}

/* Footer */
footer p{
    margin: 15px auto;
    text-align: center;
    color: var(--secColor);
}

/* My Framework Classes */
.upper {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    color: #e2e2e2;
}

.btn {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
